<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/iterum</property>
        <property name="hibernate.connection.username">iterum</property>
        <property name="hibernate.connection.password">iterum</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="iterum.domain.Projeto"/>
        <mapping class="iterum.domain.EtapaProjeto"/>
        <mapping class="iterum.domain.Tarefa"/>
        <mapping class="iterum.domain.Contribuidor"/>
    </session-factory>
</hibernate-configuration>
